body {
  background-color: #93c3df; /* gray-100 */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial; */
  color: #1f2937; /* gray-800 */
  line-height: 1.6;
}

#header {
    background-color: #0c354d;
}
