<!-- <header class="navbar">
  <div class="logo">Health<span>Track</span></div>

  <nav class="nav-links">
    <a href="/" data-link>Home</a>
    <a href="/users" data-link>Users</a>
    <a href="/activities" data-link>Activity</a>
    <a href="/medical" data-link>Medical</a>
    <a href="/report" data-link>Report</a>
  </nav>
</header> -->

<header class="navbar">
  <div class="logo">Health<span>Track</span></div>

  <nav class="nav-links">
    <a href="/" data-link>
      <i data-lucide="home"></i>
      <span>Home</span>
    </a>

    <a href="/users" data-link>
      <i data-lucide="users"></i>
      <span>Users</span>
    </a>

    <a href="/activities" data-link>
      <i data-lucide="activity"></i>
      <span>Activity</span>
    </a>

    <a href="/medical" data-link>
      <i data-lucide="heart-pulse"></i>
      <span>Medical</span>
    </a>

    <a href="/report" data-link>
      <i data-lucide="file-text"></i>
      <span>Report</span>
    </a>
  </nav>
</header>
